<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Bootstrap Scripts -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"
    ></script>

    <!-- CSS StyleSheets -->
    <link rel="stylesheet" href="style.css">

    <!-- Google Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
                <!-- Secular one(font) -->
    <link href="https://fonts.googleapis.com/css2?family=Secular+One&display=swap" rel="stylesheet">  
    
    <!-- Font Awesome -->

    <title>CounterPoint</title>
  </head>
  <body>
    <header class="p-2 text-bg-dark">
        <div class="container">
          <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
              <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
            </a>
            <div class="navbar-brand">CounterPoint</div>
    
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
              <li><a href="#" class="nav-link px-2 text-secondary">Home</a></li>
              <!-- <li><a href="#" class="nav-link px-2 text-white">Features</a></li> -->
              <li><a href="#" class="nav-link px-2 text-white">Pricing</a></li>
              <!-- <li><a href="#" class="nav-link px-2 text-white">FAQs</a></li> -->
              <li><a href="#" class="nav-link px-2 text-white">About</a></li>
            </ul>

        </div>
      </header>

      <div class="content">
      <div class="px-4 py-5 my-5 text-center">
        <img class="d-block mx-auto mb-2" src="./images/Logo.png" alt="" >
        <div class="col-lg-6 mx-auto">
          <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <form action="">
                <div class="mb-3">
                    <input type="text" class="form-control fs-5 px-5 py-2 text-center" style="background: rgb(231, 231, 231)" placeholder= <%= Motion %>>
                  </div>
            </form>
          </div>
        </div>
      </div>
      <div class="solutions text-centered">
        <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3" style="display: flex; flex-wrap: wrap; width: 100%; justify-content: space-around; gap: 20px;">
          <div class="bg-light me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden" style="width: 48%; min-width: 300px;">
                <div class="my-3 p-3">
                    <!-- For the motion -->
                  <h2 class="display-1 answer-boxes">For the motion</h2>
                </div>
                <div class="mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"> <%= For_motion %> </div>
              </div>
            <div class="bg-light me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden" style="width: 48%; min-width: 300px;">
                  <div class="my-3 p-3">
                    <!-- Against the motion -->
                <h2 class="display-1 answer-boxes">Against the motion</h2>
                </div>
                <div class="mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"> <%= Against_motion %> </div>
            </div>
          </div>
      </div>
    </div>
  </body>
</html>